/tutorial-branding/target/
/tutorial-plugin-dstats/target/
/tutorial-plugin-various/target/
/tutorial-plugin-random/target/
/tutorial-app/target/
/tutorial-plugin-sadiags/target/
/tutorial-plugin-output/target/
/tutorial-plugin-basic-output/target/